@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sort Numbers Web Application</h1>
    <p>Click here <a href="https://docs.microsoft.com/aspnet/core"> to start sorting numbers</a>.</p>
</div>
